#!/bin/bash

# Docker
alias docker-compose="docker compose"
alias dc="docker compose"
alias dcb="docker compose -f docker-compose-build.yml"
alias dcd="docker compose -f docker-compose-dev.yml"
alias dce="docker compose -f docker-compose-experiment.yml"
alias dockerRmDiffs="sudo service docker stop; sudo rm -rf /var/lib/docker/aufs/diff; sudo service docker start"
alias dockerStopAll="docker stop \$(docker ps -a -q)";
alias dockerRmAll="docker rm \$(docker ps -a -q)";
alias dockerRmVolumes="docker volume rm \`docker volume ls -q -f dangling=true\`"
alias dockerRmDanglingImages="docker rmi \$(docker images -aq --filter dangling=true)"
alias dockerCleanUp="dockerStopAll; dockerRmAll; dockerRmVolumes; dockerRmDanglingImages; docker network prune; dockerRmDiffs"

# Git
alias gcob="git checkout -b"
alias gco="git checkout"
alias gcot="git checkout --theirs"
alias gom="git checkout master; git pull origin master"
alias gma="git rebase --abort";
alias gpo="branchName=\`git rev-parse --abbrev-ref HEAD\`; git push origin \$branchName";
alias gpof="gpo -f --force-with-lease --force-if-includes"
alias gponv="gpo --no-verify";
alias gponvf="gponv -f --force-with-lease --force-if-includes";
alias grma="GIT_EDITOR=true git rebase -i main"
alias grm="branchName=\`git rev-parse --abbrev-ref HEAD\`; gpo; gom; git checkout \$branchName; git rebase -i master";
alias grmas="git rebase -i master --autosquash"
alias gpu="branchName=\`git rev-parse --abbrev-ref HEAD\`; git pull origin \$branchName";
alias gst="git status"
alias gd="git diff"
alias gau="git add -u"
alias ga="git add"
alias gaa="ga -A"
alias gai="git add -i"
alias gc="git commit"
alias gcf="git commit --fixup=\$(git log -n 1 --pretty=format:\"%H\")"
alias gcfp="gaa && gcf && grma && gpof"
alias gss="git stash save"
alias gsp="git stash pop"
alias gsa="git stash apply"
alias gp="branchName=\`git rev-parse --abbrev-ref HEAD\`; git pull origin \$branchName;"
alias grc="git rebase --continue"
alias gra="git rebase --abort"
alias gr="git reset ."
alias grh="git reset HEAD "
alias gruf="git clean -fd"
alias ghr="branchName=\`git rev-parse --abbrev-ref HEAD\`; git fetch origin; git reset --hard \$branchName"
alias glc='git log --format=%H -n1'
alias gro="git reset --hard HEAD~1"
alias glb="git reflog -n10 | grep -E \"checkout: moving from .+ to \$\(git rev-parse --abbrev-ref HEAD\)\$\" | awk '{ print $6 }' | head -n1"
alias gre="vi -p \$(git diff --name-only --diff-filter=U)"

# # misc
alias reloadSource="source ~/.zshrc"
alias fd=fdfind
alias toClipBoard="wl-copy"
alias ssh="ssh -v"
alias listLargeFiles="sudo du -h / 2>/dev/null | grep '[0-9\.]\+G'"
alias ls="eza -alh --color=auto"
alias fdf="fd --type f -H"
alias fdd="fd --type d"
alias cat="\$(which bat) -p --paging never"

alias k='kubectl'
alias kc='kubectx'
alias kn='kubens'
alias km="kubectl -n monitoring"
alias ka="kubectl -n ambassador"
alias kg="kubectl -n graylog"
alias ks='kubectl -n kube-system'
alias ki="kubectl -n infra-utilities"

alias gotest="go test ./..."
alias golint="golangci-lint run --fix"
alias gotestwatch="fdf | grep -v vendor/ | entr -c go test ./..."
alias golintwatch="fdf | grep -v vendor/ | entr -c golangci-lint run --fix"
alias gotest="go test -coverprofile=prof.out ./..."
alias gocoverage="go tool cover -html=prof.out"
alias govendor="go mod tidy -compat=1.17; go mod vendor"

alias z="zoxide"
alias zl="z \$(zoxide query -l | fzf)"

alias open_pr="gh pr view --web"

alias listAWSProfiles="aws configure list-profiles"

yq() {
  docker run --rm -i -v "${PWD}":/workdir mikefarah/yq "$@"
}

alias vim="nvim"
alias vi="nvim"

# Force Slack snap to use Wayland
alias slack="ELECTRON_OZONE_PLATFORM_HINT=wayland /snap/bin/slack --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --disable-gpu-sandbox"

# Zoom client
alias zoom="/snap/bin/zoom-client"

alias screenshot-area="grim -g \"\$(slurp)\" - | swappy -f -"
